DATABASE_URL=postgresql+psycopg2://postgres:farouk@127.0.0.1:5432/sonprj
SECA_DB_SSLMODE=prefer
SECA_ACCESS_TOKEN_EXPIRE_MINUTES=720
SECA_PBKDF2_ITERATIONS=600000
SECA_URL_ENCRYPTION_KEY=igzExm0f8wfSvRgmExMDOTJK8DLkBfRmfI8-rd3J-A4=
SECA_PROXY_AUTOSTART=true
SECA_PROXY_LISTEN_HOST=0.0.0.0
SECA_PROXY_LISTEN_PORT=3128
SECA_PROXY_BLOCKLIST_REFRESH_SECONDS=10

